<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Analytics Website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evSX huddledayh2sy/T5z81CtHnDKkRUbsZtIFk9yPvQ6RL7V/0yWb8bvHpQzjrVNCYn/vRlh3l7EYdHhGSQFvT10vHhrfT1CYHg" crossorigin="anonymous">
</head>
<body>
  <header>
    <h1>Stock Analytics Website</h1>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-OgwbZS7/BXzYhFsrOBzYmIkzBsIACvUXwtU+mTx8bC7qpCWXdVie2SVNpEVuNTRZv" crossorigin="anonymous"></script>
</body>
</html>
