[database]
type = postgres
host = 192.168.0.31
port = 5432
database = stock
username = stock
password = 2cNUVfN~Fp`2Zzh3EV2rcV49&~^Ev4y%%

[email]
sender = technicaluser383@gmail.com
sender_password = ykkk enet exfa tbdr
recipient = volkan.eymir.akcora@deutsche-boerse.com
recipient_1 = doganogluozgur@gmail.com
recipient_2 = furkanaras36@gmail.com
recipient_3 = selim.gultekiin@gmail.com

# Define a list of Turkish stock symbols (e.g., Turkish companies listed on Borsa Istanbul)
[companies]
0=ACSEL.IS
1=ADELA.IS
2=ADESE.IS
3=ADGYO.IS
4=AFYON.IS
5=AGHOL.IS
6=AGESA.IS
7=AHGAZ.IS
8=AKBNK.IS
9=AKCNS.IS
10=AKYHO.IS
11=AKENR.IS
12=AKFGY.IS
13=AKFYE.IS
14=ATEKS.IS
15=AKSGY.IS
16=AKMGY.IS
17=AKSAA.IS
18=AKSEN.IS
19=AKGRT.IS
20=AKSUE.IS
21=ALCAR.IS
22=ALGYO.IS
23=ALARK.IS
24=ALBRK.IS
25=ALCTL.IS
26=ALFAS.IS
27=ALKIM.IS
28=ALKAA.IS
29=AYCES.IS
30=ALMAD.IS
31=ANSGR.IS
32=AEFES.IS
33=ANHYT.IS
34=ASUZU.IS
35=ANGEN.IS
36=ANELE.IS
37=ARCLK.IS
38=ARDYZ.IS
39=ARENA.IS
40=ARSAN.IS
41=ARZUM.IS
42=ASGYO.IS
43=ASELS.IS
44=ASTOR.IS
45=ATAGY.IS
46=ATAKP.IS
47=AGYOA.IS
48=ATATP.IS
49=AVODA.IS
50=AVGYO.IS
51=AVTUR.IS
52=AVHOL.IS
53=AYDEM.IS
54=AYENA.IS
55=AYGAZ.IS
56=AZTEK.IS
57=ACAPA.IS
58=BAGFS.IS
59=BAKAB.IS
60=BNTAS.IS
61=BANVT.IS
62=BARMA.IS
63=BASGZ.IS
64=BTCIM.IS
65=BSOKE.IS
66=BYDNR.IS
67=BAYRK.IS
68=BERAB.IS
69=BRKSN.IS
70=BJKAS.IS
71=BEYAZ.IS
72=BIENY.IS
73=BLCYT.IS
74=BIMAS.IS
75=BIOEN.IS
76=BRKVY.IS
77=BRLSM.IS
78=BIZIM.IS
79=BMSTL.IS
80=BMSCH.IS
81=BOBET.IS
82=BRSAN.IS
83=BRYAT.IS
84=BFREN.IS
85=BOSSA.IS
86=BRISA.IS
87=BURCE.IS
88=BURVA.IS
89=BUCIM.IS
90=BVSAN.IS
91=BIGCH.IS
92=CRFSA.IS
93=CEOEM.IS
94=CCOLA.IS
95=CONSE.IS
96=COSMO.IS
97=CRDFA.IS
98=CVKMD.IS
99=CWENE.IS
100=CANTE.IS
101=CLEBI.IS
102=CELHA.IS
103=CEMAS.IS
104=CEMTS.IS
105=CMBTN.IS
106=CIMSA.IS
107=CUSAN.IS
108=DAGID.IS
109=DAGHL.IS
110=DAPGM.IS
111=DARDL.IS
112=DGATE.IS
113=DMSAS.IS
114=DENGE.IS
115=DZGYO.IS
116=DERIM.IS
117=DERHL.IS
118=DESAD.IS
119=DESPC.IS
120=DEVAD.IS
121=DNISI.IS
122=DITAS.IS
123=DOCOD.IS
124=DOBUR.IS
125=DOHOL.IS
126=DGNMO.IS
127=ARASE.IS
128=DOGUB.IS
129=DGGYO.IS
130=DOASD.IS
131=DOKTA.IS
132=DURDO.IS
133=DYOBY.IS
134=EBEBK.IS
135=ECZYT.IS
136=EDATA.IS
137=EDIPE.IS
138=EGEEN.IS
139=EGGUB.IS
140=EGPRO.IS
141=EGSER.IS
142=EPLAS.IS
143=ECILC.IS
144=EKSUN.IS
145=ELITE.IS
146=EMKEL.IS
147=EKGYO.IS
148=ENJSA.IS
149=ENERY.IS
150=ENKAI.IS
151=ENSRI.IS
152=ERBOS.IS
153=ERCBE.IS
154=EREGL.IS
155=KIMMR.IS
156=ERSUE.IS
157=ESCAR.IS
158=ESCOM.IS
159=ESENE.IS
160=ETILR.IS
161=EUHOL.IS
162=TEZOL.IS
163=EUREN.IS
164=EUPWR.IS
165=EYGYO.IS
166=FADEF.IS
167=FMIZP.IS
168=FENER.IS
169=FLAPF.IS
170=FONET.IS
171=FROTO.IS
172=FORMT.IS
173=FORTE.IS
174=FRIGO.IS
175=FZLGY.IS
176=GWIND.IS
177=GSRAY.IS
178=GARFA.IS
179=GEDIK.IS
180=GEDZA.IS
181=GLCVY.IS
182=GENIL.IS
183=GENTS.IS
184=GEREL.IS
185=GZNMI.IS
186=GIPTA.IS
187=GMTAS.IS
188=GESAN.IS
189=GLBMD.IS
190=GLYHO.IS
191=GOODY.IS
192=GOKNR.IS
193=GOLTS.IS
194=GOZDE.IS
195=GRTRK.IS
196=GSDDE.IS
197=GSDHO.IS
198=GUBRF.IS
199=GLRYH.IS
200=GRSEL.IS
201=SAHOL.IS
202=HLGYO.IS
203=HATEK.IS
204=HATSN.IS
205=HDFGS.IS
206=HEDEF.IS
207=HEKTS.IS
208=HKTMH.IS
209=HTTBT.IS
210=HUBVC.IS
211=HUNER.IS
212=HURGZ.IS
213=ICBCT.IS
214=ICUGS.IS
215=INGRM.IS
216=INVEO.IS
217=INVES.IS
218=ISKPL.IS
219=IEYHO.IS
220=IDEAS.IS
221=IDGYO.IS
222=IHEVA.IS
223=IHLGM.IS
224=IHGZT.IS
225=IHAAS.IS
226=IHLAS.IS
227=IHYAY.IS
228=IMASM.IS
229=INDES.IS
230=INFOİ.IS
231=INTEM.IS
232=IPEKE.IS
233=ISDMR.IS
234=ISFIN.IS
235=ISGYO.IS
236=ISGSY.IS
237=ISMEN.IS
238=ISSEN.IS
239=ITTFH.IS
240=IZINV.IS
241=IZENR.IS
242=IZMDC.IS
243=IZFAS.IS
244=JANTS.IS
245=KFEIN.IS
246=KLKIM.IS
247=KLSER.IS
248=KAPLM.IS
249=KRDMA.IS
250=KRDMB.IS
251=KRDMD.IS
252=KAREL.IS
253=KARSN.IS
254=KRTEK.IS
255=KARYE.IS
256=KARTN.IS
257=KTLEV.IS
258=KATMR.IS
259=KAYSE.IS
260=KERVT.IS
261=KRVGD.IS
262=KZBGY.IS
263=KLGYO.IS
264=KLRHO.IS
265=KMPUR.IS
266=KLMSN.IS
267=KCAER.IS
268=KCHOL.IS
269=KLSYN.IS
270=KNFRT.IS
271=KONTR.IS
272=KONYA.IS
273=KONKA.IS
274=KGYOK.IS
275=KORDS.IS
276=KRPLS.IS
277=KOZAL.IS
278=KOZAA.IS
279=KOPOL.IS
280=KRGYO.IS
281=KRSTL.IS
282=KRONT.IS
283=KUYAS.IS
284=KZGYO.IS
285=KUTPO.IS
286=KTSKR.IS
287=LIDER.IS
288=LIDFA.IS
289=LINKL.IS
290=LOGOL.IS
291=LKMNH.IS
292=LUKSK.IS
293=MACKO.IS
294=MAKIM.IS
295=MAKTK.IS
296=MANAS.IS
297=MAGEN.IS
298=MARKA.IS
299=MAALT.IS
300=MRSHL.IS
301=MRGYO.IS
302=MARTI.IS
303=MTRKS.IS
304=MAVIM.IS
305=MZHLD.IS
306=MEDTR.IS
307=MEGAP.IS
308=MNDRS.IS
309=MEPET.IS
310=MERCN.IS
311=MERIT.IS
312=MERKO.IS
313=METUR.IS
314=METRO.IS
315=MIATK.IS
316=MGROS.IS
317=MIPAZ.IS
318=MSGYO.IS
319=MPARK.IS
320=MOBTL.IS
321=MNDTR.IS
322=EGEPO.IS
323=NATEN.IS
324=NTGAZ.IS
325=NTHOL.IS
326=NETAS.IS
327=NIBAS.IS
328=NUHCM.IS
329=NUGYO.IS
330=OBASE.IS
331=ODASO.IS
332=OFSYM.IS
333=ONCSM.IS
334=ORCAY.IS
335=ORGEO.IS
336=OSMEN.IS
337=OSTIM.IS
338=OTKAR.IS
339=OYAKC.IS
340=OYYAT.IS
341=OYLUM.IS
342=OZKGY.IS
343=OZGYO.IS
344=OZRDN.IS
345=OZSUB.IS
346=PAMEL.IS
347=PNLSN.IS
348=PAGYO.IS
349=PAPIL.IS
350=PRDGS.IS
351=PRKME.IS
352=PARSN.IS
353=PASEU.IS
354=PSGYO.IS
355=PCILT.IS
356=PGSUS.IS
357=PEKGY.IS
358=PENGD.IS
359=PENTA.IS
360=PEGYO.IS
361=PSDTC.IS
362=PETKM.IS
363=PKENT.IS
364=PETUN.IS
365=PINSU.IS
366=PNSUT.IS
367=PKART.IS
368=PLTUR.IS
369=POLHO.IS
370=POLTK.IS
371=PRZMA.IS
372=QUAGR.IS
373=RNPOL.IS
374=RALYH.IS
375=RAYSG.IS
376=REEDR.IS
377=RYGYO.IS
378=RYSAS.IS
379=RODRG.IS
380=RTALB.IS
381=RUBNS.IS
382=SAFKR.IS
383=SANEL.IS
384=SNICA.IS
385=SANFM.IS
386=SANKO.IS
387=SAMAT.IS
388=SARKY.IS
389=SASAS.IS
390=SAYAS.IS
391=SDTTR.IS
392=SEKUR.IS
393=SELEC.IS
394=SELGD.IS
395=SELVA.IS
396=SRVGY.IS
397=SEYKM.IS
398=SILVR.IS
399=SNGYO.IS
400=SMRTG.IS
401=SMART.IS
402=SOKES.IS
403=SKTAS.IS
404=SONME.IS
405=SUNTK.IS
406=SUWEN.IS
407=SEKFK.IS
408=SEGYO.IS
409=SKBNK.IS
410=SOKMŞ.IS
411=TNZTP.IS
412=TARKM.IS
413=TATGD.IS
414=TATEN.IS
415=TAVHL.IS
416=TEKTU.IS
417=TKFEN.IS
418=TKNSA.IS
419=TMPOL.IS
420=TERAT.IS
421=TETMT.IS
422=TGSAS.IS
423=TOASO.IS
424=TRGYO.IS
425=TLMAN.IS
426=TSPOR.IS
427=TDGYO.IS
428=TSGYO.IS
429=TUCLK.IS
430=TUKAS.IS
431=TRCAS.IS
432=TUREX.IS
433=TRILC.IS
434=TCELL.IS
435=TMSNT.IS
436=TUPRS.IS
437=THYAO.IS
438=PRKAB.IS
439=TTKOM.IS
440=TTRAK.IS
441=TURGG.IS
442=GARAN.IS
443=HALKB.IS
444=ISATR.IS
445=ISBTR.IS
446=ISCTR.IS
447=TSKBT.IS
448=TURSG.IS
449=SISET.IS
450=VAKBN.IS
451=UFUKU.IS
452=ULASU.IS
453=ULUFA.IS
454=ULUSE.IS
455=ULUUN.IS
456=USAKU.IS
457=ULKER.IS
458=UNLUÜ.IS
459=VAKFN.IS
460=VKGYO.IS
461=VAKKO.IS
462=VANGD.IS
463=VBTYZ.IS
464=VERUS.IS
465=VERTU.IS
466=VESBE.IS
467=VESTL.IS
468=VKING.IS
469=YKBNK.IS
470=YAPRK.IS
471=YATAS.IS
472=YYLGD.IS
473=YAYLA.IS
474=YGGYO.IS
475=YEOTK.IS
476=YGYOY.IS
477=YYAPI.IS
478=YESIL.IS
479=YKSLN.IS
480=YUNSA.IS
481=ZEDUR.IS
482=ZRGYO.IS
483=ZOREN.IS

[alembic]
# path to migration scripts
script_location = stock_collectors:alembic
file_template = %%(year)d%%(month).2d%%(day).2d_%%(rev)s
# file_template = %%(rev)s_%%(slug)s